extends layout

block content  
  form#fm0(action=base + '/1' + qs(), method='post')
    table.bp
      tr: td
          p.c= lg.word_or_phrase
          p.c: input(name='et0', type='text', value=et0, size=50, maxlength=80)
          p.c: input(type='submit', value=lg.translate)